<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @line_item.animal_id %>
</p>

<p>
  <strong>Adoption:</strong>
  <%= @line_item.adoption_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
