<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your One Stop Adopt Shop</h1>

<dl>
	<div class="entry">
		<%= button_to 'Sort by name', nil %>
		<%= button_to 'Sort by age', nil %>
	</div>
</dl>
<% @animals.each do |animal| %>
	<div class="entry">
		<%= image_tag(animal.image_url) %>
		<dl>
			<dt><b><%= animal.name %></b></dt>
			<dd>Age: <%= animal.age %></dd>
			<dd>Breed: <%= animal.breed %></dd>
			<%= button_to 'Adopt Me!', line_items_path(:animal_id => animal) %>
		</dl>
	</div>
<% end %>