<div id="product-list">
  <h1>Listing animals</h1>

  <table>
  <% @animals.each do |animal| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">

      <td>
        <%= image_tag(animal.image_url, :class => 'list-image') %>
      </td>

      <td class="list-description">
        <dl>
          <dt><%= animal.name %></dt>
          <dl>Age: <%= animal.age %></dl>
          <dl>Breed: <%= animal.breed %></dl>
        </dl>
      </td>

      <td class="list-actions">
        <%= link_to 'Show', animal %><br/>
        <%= link_to 'Edit', edit_animal_path(animal) %><br/>
        <%= link_to 'Destroy', animal, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New animal', new_animal_path %>