<!DOCTYPE html>
<html>
<head>
  <title>Pet Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("logo.gif", :size => '209x50') %>
		<%= @page_title || "Ryan's One Stop Adoption Shop" %>
	</div>
	<div id="columns">
		<div id="side"> 
			<div id="cart">
				<%= render @agency %>
			</div>
			
			<ul>
				<li><%= link_to 'Home', adoption_path %></li>
				<li><%= link_to 'Your Adoption', agencies_path %></li>
				<li><a href="http://www..../news">Contact Us</a></li> 
				<li><a href="http://www..../contact">About</a></li>
			</ul>
		</div>
		<div id="main"> 
			<%= yield %>
    	</div>
  	</div>
</body>
</html>
