<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Adoption Center</h1>

<% cache ['store', Pet.latest] do %>
	<% @pets.each do |pet| %>
		<% cache ['entry', pet] do %>
			<div class="entry">
				<%= image_tag(pet.image_url) %> 
				<h3><%= pet.name %></h3>
				<b><%= sanitize(pet.description) %></b>
				<%= sanitize(pet.habits) %>
				<div class="price_line">
					<span class="age">Age: <%= pet.age %></span> 
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>