<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Adoption Center</h1>

<div class="price_line">
	<%= button_to 'Sort by Name', adoption_order_alphabetical_path %>
	<%= button_to 'Sort by Age', adoption_order_age_path %>
</div>
<% cache ['store', Pet.latest] do %>
	<% @pets.each do |pet| %>
		<% cache ['entry', pet] do %>
			<div class="entry">
				<%= image_tag(pet.image_url) %> 
				<h3><%= pet.name %></h3>
				<b><%= sanitize(pet.description) %></b>
				<%= sanitize(pet.habits) %>
				<div class="price_line">
					<span class="age">Age: <%= pet.age %></span> 
					<%= button_to 'Adopt!', line_items_path(pet_id: pet) %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>